<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cree</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">


  </head>

  <body ng-controller="PanelController">

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <nav-bar></nav-bar>
          </div>

          <a ng-click="getPost(56073748c3cd79f806000001)"><p>Click here{{postById}}</p></a>

          <div ng-controller="PostController">
            <div ng-show="isSelected('blog')">
              <div ng-repeat="post in posts | orderBy: 'time':true">
                <blog-post></blog-post>
              </div>
            </div>

            <div ng-show="isSelected('about')">
              <about-page></about-page>
            </div>

            <div ng-show="isSelected('contact')">
              <contact></contact>
            </div>

            <div ng-show="isSelected('createPost')">
              <create-post></create-post>
            </div>

            <div ng-show="isSelected('viewPost')">
              <view-post></view-post>
            </div>

          </div>
        </div>



          <div class="mastfoot">
            <div class="inner">
              <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>    

    <script type="text/javascript" src="js/controllers/main.js"></script>

  </body>
</html>
